<p>
  In 2006, DJ Axle (Jordan Hawker) discovered the life-changing experience of Dance. Since then,
  he has taken that passion to the next level by DJing all over the country, including Seattle
  Fusion Festival, DJX, Austin Fusion Party, Austin Blues Party, Bluesalicious, Show-Me Blues
  and more. Variety is the spice of life, and Jordan takes that to heart, pushing the envelope
  of genres we expect in dance; he particularly enjoys playing little-known artists to expand
  his audience's horizons and expectations. Representing the San Francisco Bay Area, DJ Axle's
  diverse musical style will keep you dancing 'til the lights go out!
</p>