<span local-class="name"><strong>{{event.name}}</strong></span>
<span local-class="location">{{event.location}}</span>
<span local-class="dance-styles">{{danceStyles}}</span>
<span local-class="name">{{dates}}</span>