<div class="ember-carousel-item">
    <div class="recommendation">
        <p>"{{content.recommendationText}}"</p>
        <span class="recommender">{{content.recommender.firstName}} {{content.recommender.lastName}}</span>
    </div>
</div>
