<div class="ember-carousel">
    <div class="arrow left-arrow" {{action 'moveLeft'}}>
        <i class="fa fa-angle-left"></i>
    </div>
    {{!ember-carousel-item content=leftItem}}
    {{ember-carousel-item content=mainItem}}
    {{!ember-carousel-item content=rightItem}}
    <div class="arrow right-arrow" {{action 'moveRight'}}>
        <i class="fa fa-angle-right"></i>
    </div>
</div>
