<div class="ember-carousel">
    <div class="arrow left-arrow" {{action 'moveLeft'}}>
        <i class="fa fa-angle-left"></i>
    </div>
    {{!ember-carousel-item content=leftItem}}
    {{#liquid-with mainItem as content}}
        {{ember-carousel-item content=content}}
    {{/liquid-with}}
    {{!ember-carousel-item content=rightItem}}
    <div class="arrow right-arrow" {{action 'moveRight'}}>
        <i class="fa fa-angle-right"></i>
    </div>
</div>
