<p>{{fa-icon 'copyright' size=1}} Jordan Hawker 2015 - {{currentYear}}</p>
<p>
  This application is built with cutting-edge versions of
  <a href="http://emberjs.com/" target="_blank"><img src="/assets/ember.png" local-class="brand-icon"></a> &
  <a href="http://www.ember-cli.com/" target="_blank"><img src="/assets/ember-cli.png" local-class="brand-icon"></a>
</p>
<p>
  The project is fully open-source and can be found on
  <a local-class="github" href="http://jhawk.co/jordan-hawker-github" target="_blank">{{fa-icon 'github' size=1}}</a>
</p>
<p>Logo photo courtesy of <a href="https://twitter.com/Daniinthecity" target="_blank">Danielle La Fors</a>,
  <a href="http://www.daniinthecityphotography.com/" target="_blank">DANIINTHECITY Photography</a>
</p>