<div local-class="header-container">
  <img local-class="header-logo" {{action 'goToIndex'}} src="assets/logo-small.jpg"/>

  {{#header-nav-link 'index'}}Home{{/header-nav-link}}
  {{#header-nav-link 'blog'}}Blog{{/header-nav-link}}
  {{#header-nav-link 'projects'}}Projects{{/header-nav-link}}
  {{#header-nav-link 'twitch'}}Twitch{{/header-nav-link}}
  {{#header-nav-link 'music'}}Music{{/header-nav-link}}
  {{#header-nav-link 'resume'}}Resume{{/header-nav-link}}
  {{#header-nav-link 'about'}}About{{/header-nav-link}}
  {{#header-nav-link 'contact'}}Contact{{/header-nav-link}}

  <div local-class="spacer"></div>

  <a href="http://jhawk.co/hellfire-twitch" target="_blank">{{fa-icon 'twitch' size=2}}</a>
  <a href="http://jhawk.co/JHTwitter" target="_blank">{{fa-icon 'twitter' size=2}}</a>
  <a href="http://jhawk.co/JHLinkedIn" target="_blank">{{fa-icon 'linkedin-square' size=2}}</a>
</div>