<h4 {{action 'goToIndex'}} align="center">
  <img local-class="header-logo" src="assets/logo-small.jpg"/>
  Jordan Hawker
</h4>

<div local-class="header-icons">
  <a href="http://jhawk.co/hellfire-twitch" target="_blank">{{fa-icon 'twitch' size=2}}</a>
  <a href="http://jhawk.co/JHTwitter" target="_blank">{{fa-icon 'twitter' size=2}}</a>
  <a href="http://jhawk.co/JHLinkedIn" target="_blank">{{fa-icon 'linkedin-square' size=2}}</a>
</div>