<div local-class="left-nav-body left-nav-link-list">
  {{#left-nav-link 'index'}}Home{{/left-nav-link}}
  {{#left-nav-link 'code'}}Code{{/left-nav-link}}
  {{#left-nav-link 'twitch'}}Twitch{{/left-nav-link}}
</div>

<div local-class="left-nav-footer left-nav-link-list">
  {{#left-nav-link 'contact'}}Contact{{/left-nav-link}}
</div>