<form action="//jordanhawker.us10.list-manage.com/subscribe/post?u=eb274c60021dd5d2366e2e317&amp;id=bfc7a28111"
      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <div local-class="form">
    <label for="mce-EMAIL">Subscribe For Future Content:</label>
    <input local-class="email" type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;">
      <input type="text" name="b_eb274c60021dd5d2366e2e317_bfc7a28111" tabindex="-1" value="">
    </div>
    <input local-class="subscribe" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
  </div>
</form>