<div local-class="content">
  <a href="http://jhawk.co/JHGitHub" target="_blank">
    <img local-class="logo" src="assets/logo-medium.jpg" alt="Splash">
  </a>
  <h1 local-class="site-title">Jordan Hawker</h1>
  <div>
    <h4>{{version}}</h4>
    <p local-class="description">The developer of ambitious web applications</p>
    <code>
      npm install -g jordan-hawker
    </code>
    <p local-class="description">More Productive Out Of The Box</p>
    <iframe
      src="https://ghbtns.com/github-btn.html?user=elwayman02&amp;type=follow&amp;count=true&amp;size=large"
      frameborder="0"
      scrolling="0"
    >
    </iframe>
  </div>

  {{footer-bar}}
</div>