@import 'bootstrap';
$fa-font-path: '/assets/fonts' !default;
@import 'bower_components/fontawesome/scss/font-awesome.scss';
//@import 'bug-widget';

@import 'colors';
@import 'icons';
@import 'variables';
@import 'general';

@import 'components/ember-carousel';

@import 'header';
@import 'footer';
@import 'navbar';
@import 'event-list';
@import 'tech-list';
@import 'recommendation';
@import 'blog';

#main-container {
    margin-right: 0;
    margin-bottom: 10px;
}

#main {
    margin-top: 10px;
    margin-left: 10px;
}

.liquid-container {
    .liquid-child {
        > .row {
            margin-left: 0;
        }
    }
}

@media all and (max-width: $screen-xs-max) {
    #main {
        margin-left: 25px;
        margin-top: -25px;
    }
}

.item-list {
    padding-left: 15px;
}

.contact {
    div {
        margin-bottom: 10px;

        i {
            font-size: 50px;
        }
    }
}

@media all and (max-width: $screen-xs-max) {
    .contact {
        margin-top: 15px;
    }
}

.biography {
    font-style: italic;
    margin-top: 10px;
    border: 1px dashed $border;
    border-radius: 4px;
    padding: 5px;
}
