@import 'bootstrap';
$fa-font-path: '/assets/fonts' !default;
@import 'bower_components/fontawesome/scss/font-awesome.scss';
//@import 'bug-widget';

@import 'colors';
@import 'icons';
@import 'variables';
@import 'mixins';
@import 'general';

@import 'components/ember-carousel';
@import 'subscribe';

@import 'header';
@import 'footer';
@import 'splash';
@import 'navbar';
@import 'event-list';
@import 'tech-list';
@import 'recommendation';
@import 'blog';

body {
    min-width: 600px;
}

#main-container {
    margin-right: 0;
    margin-bottom: 10px;
}

#main {
    margin-top: 10px;
    margin-left: 10px;
}

.liquid-container {
    .liquid-child {
        > .row {
            margin-left: 0;
        }
    }
}

@media all and (max-width: $screen-xs-max) {
    #main {
        margin-left: 25px;
        margin-top: -25px;
    }
}

.title {
    text-align: center;

    p {
        font-style: italic;
    }
}

.item-list {
    padding-left: 15px;
}

.contact {
    div {
        margin-bottom: 10px;

        i {
            font-size: 50px;
        }

        img {
            @include border-radius($borderRadius);
        }
    }
}

@media all and (max-width: $screen-xs-max) {
    .contact {
        margin-top: 15px;
    }
}

.biography {
    @include border-radius($borderRadius);
    font-style: italic;
    margin-top: 10px;
    border: 1px dashed $border;
    padding: 5px;
}
