@import 'bootstrap';
$fa-font-path: '/assets/fonts' !default;
@import 'bower_components/fontawesome/scss/font-awesome.scss';
//@import 'bug-widget';

@import 'variables';
@import 'colors';

@import 'header';
@import 'navbar';
@import 'event-list';

#main {
  margin-top: 10px;
  margin-left: 10px;
}

#main-container {
  margin-right: 0;
}

.item-list {
  padding-left: 15px;
}

.contact {
  div {
    margin-bottom: 10px;

    i {
      font-size: 50px;
    }
  }
}
