.post {
    border: $borderStyle;
    padding: 5px 10px 40px 10px;
    margin-top: 20px;

    .title {
        text-align: center;
        margin-bottom: 15px;
    }

    .date {
        font-style: italic;
        margin-bottom: 5px;
    }

    .body {
        &.collapsed {
            max-height: 300px;
            overflow: hidden;
        }
    }
}
