i {
  &.fa-facebook-f {
      color: $facebook;
  }

  &.fa-github {
      color: $github;
  }

  &.fa-google-plus {
      color: $googleplus;
  }

  &.fa-linkedin {
      color: $linkedin;
  }

  &.fa-soundcloud {
      color: $soundcloud;
  }

  &.fa-stack-overflow {
      color: $stackoverflow;
  }

  &.fa-tumblr {
      color: $tumblr;
  }

  &.fa-twitter {
      color: $twitter;
  }

  &.fa-yahoo {
      color: $yahoo;
  }

  &.fa-youtube {
      color: $youtube;
  }
}

img {
  &.tech-icon {
    width: 14px;
    height: 14px;
  }
}
