#navbar {
    padding-right: 0;
}

.sidebar-nav {
    &.affix {
      top: 0;
    }

    .navbar {
        border-top: none;

        li {
            &:hover {
                a {
                    background-color: $hover;
                }
            }

            a {
                &.active {
                    background-color: $active;
                    cursor: default;
                }
            }
        }
    }
}

@media all and (max-width: $mobileWidth) {
    .sidebar-nav {
        &.affix {
            width: 100%;
            z-index: 1;
        }
    }
}

/* make sidebar nav vertical */
@media all and (min-width: $minWidth) {
    .sidebar-nav {
        &.affix {
          width: 16.6667%;
          padding-right: 15px;
        }

        .navbar {
            border-top-left-radius: 0;
            border-top-right-radius: 0;

            .navbar-collapse {
                padding: 0;
                max-height: none;
            }

            ul {
                float: none;

                &:not {
                    display: block;
                }
            }

            li {
                float: none;
                display: block;

                a {
                    padding-top: 12px;
                    padding-bottom: 12px;
                }
            }
        }
    }
}
