#navbar {
    padding-right: 0;
}

.sidebar-nav {
    .navbar {
        border-top: none;

        li {
            &:hover {
                background-color: $border;
            }
        }
    }
}

/* make sidebar nav vertical */
@media (min-width: 768px) {
    .sidebar-nav {
        .navbar {
            border-top-left-radius: 0;
            border-top-right-radius: 0;

            .navbar-collapse {
                padding: 0;
                max-height: none;
            }

            ul {
                float: none;

                &:not {
                    display: block;
                }
            }

            li {
                float: none;
                display: block;

                a {
                    padding-top: 12px;
                    padding-bottom: 12px;
                }
            }
        }
    }
}
