.navbar-main {
    position: fixed;
    top: $title-height;
    left: 0;
    width: $navbar-main-width;
    height: 100%;
    z-index: 20;

    .list-group {
        height: 100%;
        border-right: 1px solid gray;

        .list-group-item {
            border: none;
        }
    }
}
