//colors
$color_mountain_mist_approx: #999;
$color_mine_shaft_approx: #333;
$color_silver_chalice_approx: #aaa;
$white: #ffffff;
$color_tapa_approx: #777;
$color_vida_loca_approx: #529214;

#mc_embed_signup {
	background: $white;
	clear: left;
	form {
		display: block;
		position: relative;
		text-align: center;
        width: 300px;
        margin: 0 auto;
		padding: 10px 0;
    	border: $borderStyle;
	}
	h2 {
		font-weight: bold;
		padding: 0;
		margin: 10px 0;
		font-size: 1.4em;
	}
	input {
		border: 1px solid $color_mountain_mist_approx;
        border-radius: $borderRadius;
		&:focus {
			border-color: $color_mine_shaft_approx;
		}
		&.email {
			display: block;
			padding: 8px 0;
			margin: 5px auto;
			text-indent: 5px;
			width: 80%;
			min-width: 130px;
		}
		&.button {
			display: block;
			width: 35%;
			margin: 0 0 10px 0;
			min-width: 90px;
    		clear: both;
    		background-color: $color_silver_chalice_approx;
    		border: 0 none;
    		color: $white;
    		cursor: pointer;
    		display: inline-block;
    		font-size: 15px;
    		font-weight: bold;
    		height: 32px;
    		line-height: 32px;
    		margin: 0 5px 5px 0;
    		padding: 0;
    		text-align: center;
    		text-decoration: none;
    		vertical-align: top;
    		white-space: nowrap;
    		width: auto;
    		&:hover {
    			background-color: $color_tapa_approx;
    		}
		}
	}
	.small-meta {
		font-size: 11px;
	}
	.nowrap {
		white-space: nowrap;
	}
	.clear {
		clear: none;
		display: inline;
	}
	label {
		display: block;
		font-size: 16px;
		font-weight: bold;
		&.error {
			display: block;
			float: none;
			width: auto;
			margin-left: 1.05em;
			text-align: left;
			padding: .5em 0;
		}
	}
	div {
		&#mce-responses {
			float: left;
			top: -1.4em;
			padding: 0 .5em 0 .5em;
			overflow: hidden;
			width: 90%;
			margin: 0 5%;
			clear: both;
		}
		&.response {
			margin: 1em 0;
			padding: 1em .5em .5em 0;
			font-weight: bold;
			float: left;
			top: -1.5em;
			z-index: 1;
			width: 80%;
		}
	}
	#mce-error-response {
		display: none;
	}
	#mce-success-response {
		color: $color_vida_loca_approx;
		display: none;
	}
}
