.tech-description.toggled {
    border: $borderStyle;
    border-radius: $borderRadius;
    padding-left: 0;
    padding-right: 0;
    margin-top: 5px;
    margin-bottom: 5px;

    .tech-description-header {
        width: 100%;
        background-color: $header;
        padding: 10px 30px 5px 30px;
        border-radius: $borderRadius;
        cursor: pointer;

        &:hover {
            background-color: $hover;
        }

        i.fa-minus {
            float: right;
        }
    }

    .tech-description-body {
        padding: 5px 30px 10px 30px;
        border-radius: $borderRadius;

        p {
            display: inline-block;
        }
    }
}
