.tech-description.toggled {
    @include border-radius($borderRadius);
    border: $borderStyle;
    padding-left: 0;
    padding-right: 0;
    margin-top: 5px;
    margin-bottom: 5px;

    .tech-description-header {
        @include border-radius($borderRadius);
        width: 100%;
        background-color: $header;
        padding: 10px 30px 5px 30px;
        cursor: pointer;

        &:hover {
            background-color: $hover;
        }

        i.fa-minus {
            float: right;
        }
    }

    .tech-description-body {
        @include border-radius($borderRadius);
        padding: 5px 30px 10px 30px;

        p {
            display: inline-block;
        }
    }
}
