.ember-carousel {
    position: relative;
    border-radius: $borderRadius;
    border: $borderStyle;
    min-height: 300px;
    padding: 5% 0;

    .ember-carousel-item {
        padding: 5% 40px;
    }

    .arrow {
        position: absolute;
        height: 100%;
        top: 0;
        padding: 130px 8px;
        background-color: $header;
        cursor: pointer;

        &:hover {
            background-color: $hover;
        }

        i {
            font-size: 40px;
            pointer-events: none;
        }

        &.left-arrow {
            left: 0;
        }

        &.right-arrow {
            right: 0;
        }
    }
}
