@value color-white from 'jordan-hawker/styles/colors';
@value small from 'jordan-hawker/styles/spacing';

.footer-bar {
  bottom: 0;
  color: color-white;
  height: 11rem;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;

  p {
    margin: small;
  }

  .github {
    color: color-white;
  }

  .brand-icon {
    height: 1.5rem;
    width: 1.5rem;
  }
}
