@value color-dark from 'jordan-hawker/styles/colors';
@value very-small, large, medium from 'jordan-hawker/styles/spacing';

.github-project {
  border: very-small solid color-dark;
  border-radius: 0.5rem;
  height: 17rem;
  margin: medium;
  padding: 0 large;
  width: 24rem;

  .title {
    text-align: center;
    width: 100%;
  }
}
