@value color-dark, color-white from 'jordan-hawker/styles/colors';
@value z-index-above from 'jordan-hawker/styles/layers';
@value small, medium from 'jordan-hawker/styles/spacing';

@value logo-height: 3.2rem;
@value header-height: logo-height + medium;

.header-nav {
  background: color-dark;
  color: color-white;
  height: header-height;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: z-index-above;

  .header-container {
    display: flex;
    margin: 0 medium;

    .links {
      display: flex;
      flex-grow: 1;
      justify-content: space-around;
    }

    .spacer {
      flex-grow: 1;
    }

    :global(.fa) {
      color: color-white;
      margin-top: medium;
    }

    .header-logo {
      border-radius: 2rem;
      cursor: pointer;
      height: logo-height;
      padding-right: small;
      margin-top: (medium/2);
      width: logo-height;
    }

    .header-icon {
      line-height: (header-height - 2*small);
      padding: small;
    }
  }
}

@media screen and (max-width: 30rem) {
  .header-icon {
    display: none;
  }
}
