@value color-alt, color-dark, color-white from 'jordan-hawker/styles/colors';
@value very-small from 'jordan-hawker/styles/spacing';
@value left-nav-link-height from 'jordan-hawker/styles/components/left-nav-link';

@value left-nav-footer-height: (left-nav-link-height + very-small);

.left-nav {
  background: color-dark;
  border-top: very-small solid color-alt;
  color: color-white;
  height: calc(100% - very-small);
  width: 10rem;

  .left-nav-link-list {
    display: flex;
    flex-direction: column;
    width: 10rem;
  }

  .left-nav-body {
    height: calc(100% - (left-nav-footer-height + very-small));
  }

  .left-nav-footer {
    border-top: very-small solid color-alt;
    height: left-nav-footer-height;
  }
}
