@value large from 'jordan-hawker/styles/spacing';

.resume-embed {
  flex: 1;
  min-height: 200px;
  width: 100%;

  .resume-link {
    font-style: italic;
    text-align: center;
  }

  .iframe-container {
    height: calc(100% - (large + 6rem));
    margin: 0 auto large auto;
    width: 85rem;

    iframe {
      height: 100%;
      width: 100%;
    }
  }
}
