<div class="fluid-container">
    {{view 'title'}}

    <div id="main-container" class="row">
        <div id="navbar" class="col-sm-2">
            {{view 'navbar'}}
        </div>
        <div id="main" role="main">
            {{outlet}}
        </div>
    </div>
</div>
