<div class="pageHeader">
    <p>If you're looking for a specific type of post, check out my
        {{#link-to 'ember'}}Ember{{/link-to}}-related posts or job search series
        {{#link-to 'the-candidate'}}The Candidate{{/link-to}}.</p>
</div>

{{tumblr-blog
    posts=model
    postsRoute='post'
    collapsible=true
    sortBy=sortBy}}
{{partial 'partials/subscribe'}}
