<div class="row">
    <div class="col-sm-10"><p>
        I've been working in front-end JavaScript web development since 2011.
        The following is a list of sites I'm active on and libraries/technologies I have worked with extensively:
    </p></div>
</div>

<div class="item-list">
    {{view 'item-list' listName='tech-list' content=model}}
</div>
