<div class="row">
    <h3>Experience</h3>
    <div class="col-sm-10"><p>
        I've been working in front-end JavaScript web development since 2011.
        My one-page resume can be found <a href="http://bit.ly/JordanHawker" target="_blank">here</a>.
        Additionally, you can find a list below of my current/past projects,
        technology websites I'm active on, and libraries/frameworks I have worked with extensively.
    </p></div>
</div>
<div class="row">
    <h3>Current</h3>
	  <div class="col-sm-10"><p>
        Currently I am working full-time as a UI Engineer for <a href="http://careers.yahoo.com" target="_blank">Yahoo! Inc</a>
        in their Advertising organization.  My primary responsibilities focus around feature work for our
        flagship programmatic demand-side ad platform (DSP), Yahoo Ad Manager Plus.  I also contribute to
        Yahoo's open-source projects and maintain an internal fork of
        <a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap</a> for about twelve production applications.
    </p></div>
</div>

<div class="item-list">
    {{view 'item-list' listName='tech-list' content=model}}
</div>
