<div class="row">
    <h3>Recommendations</h3>
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
        {{ember-carousel index=carouselIndex content=recommendations}}
    </div>
</div>

<div class="row">
    <h3>Experience</h3>
    <div class="col-sm-10">
        <p>
            I've been working in front-end JavaScript web development since 2011.
            You can find a list below of my current/past projects, technology websites
            I'm active on, and libraries/frameworks I've worked with extensively.
        </p>
        <a class='btn btn-primary' href="http://bit.ly/JordanHawker" target="_blank">
            Resume
            <i class='fa fa-external-link'></i>
        </a>
    </div>
</div>

<div class="item-list">
    {{view 'item-list' listName='tech-list' content=model.experience}}
</div>
