<div class="contact row">
    <div class="col-xs-4 col-s-3"><a href="mailto:hawker.jordan@gmail.com"><i class="fa fa-envelope"></i></a></div>
    <div class="col-xs-4 col-s-3"><a href="http://bit.ly/JordanHawkerPlus" target="_blank"><i class="fa fa-google-plus"></i></a></div>
    <div class="col-xs-4 col-s-3"><a href="http://bit.ly/JordanHawkerTwtr" target="_blank"><i class="fa fa-twitter"></i></a></div>
    <div class="col-xs-4 col-s-3"><a href="http://bit.ly/JordanHawkerFB" target="_blank"><i class="fa fa-facebook-f"></i></a></div>
    <div class="col-xs-4 col-s-3"><a href="http://bit.ly/JordanHawkerLink" target="_blank"><i class="fa fa-linkedin"></i></a></div>
    <div class="col-xs-4 col-s-3"><a href="http://bit.ly/JordanHawkerGH" target="_blank"><i class="fa fa-github"></i></a></div>
    <div class="col-xs-4 col-s-3"><a href="http://bit.ly/JordanHawkerSO" target="_blank"><i class="fa fa-stack-overflow"></i></a></div>
    <div class="col-xs-4 col-s-3"><a href="http://bit.ly/JordanHawkerYT" target="_blank"><i class="fa fa-youtube"></i></a></div>
    <div class="col-xs-4 col-s-3"><a href="http://bit.ly/JordanHawkerSC" target="_blank"><i class="fa fa-soundcloud"></i></a></div>
    <div class="col-xs-4 col-s-3"><a href="http://bit.ly/JordanHawkerTumblr" target="_blank"><i class="fa fa-tumblr"></i></a></div>
</div>
