<div class="contact row">
    <div class="col-xs-4 col-s-3"><a href="mailto:hawker.jordan@gmail.com"><i class="fa fa-envelope"></i></a></div>
    <div class="col-xs-4 col-s-3"><a href="http://jhawk.co/JHGplus" target="_blank"><i class="fa fa-google-plus"></i></a></div>
    <div class="col-xs-4 col-s-3"><a href="http://jhawk.co/JHTwitter" target="_blank"><i class="fa fa-twitter"></i></a></div>
    <div class="col-xs-4 col-s-3"><a href="http://jhawk.co/JHFbook" target="_blank"><i class="fa fa-facebook-f"></i></a></div>
    <div class="col-xs-4 col-s-3"><a href="http://jhawk.co/JHLinked" target="_blank"><i class="fa fa-linkedin"></i></a></div>
    <div class="col-xs-4 col-s-3"><a href="http://jhawk.co/JHGitHub" target="_blank"><i class="fa fa-github"></i></a></div>
    <div class="col-xs-4 col-s-3"><a href="http://jhawk.co/CheckMateBio" target="_blank"><img src="/assets/checkmate.png" ></a></div>
    <div class="col-xs-4 col-s-3"><a href="http://jhawk.co/JHStackOverflow" target="_blank"><i class="fa fa-stack-overflow"></i></a></div>
    <div class="col-xs-4 col-s-3"><a href="http://jhawk.co/JHYouTube" target="_blank"><i class="fa fa-youtube"></i></a></div>
    <div class="col-xs-4 col-s-3"><a href="http://jhawk.co/JHSoundCloud" target="_blank"><i class="fa fa-soundcloud"></i></a></div>
    <div class="col-xs-4 col-s-3"><a href="http://jhawk.co/JHAboutMe" target="_blank"><img src="/assets/aboutme.png" ></a></div>
</div>
