<p>
    I began dancing in January 2006, starting off with East Coast Swing, Charleston, and
    Lindy Hop before moving to Blues, Shag, Balboa, and others.  For most of my dance career my
    primary styles have been Blues, Lindy Hop, and Charleston, but in Spring 2013 I became aware
    of a movement called Fusion.  Since then, I've branched out my dance philosophies, or rather,
    re-adjusted them as my personal beliefs were already in the Fusion realm, I just didn't know it.
</p>
