<div class="row">
    <h3>Experience</h3>

	  <div class="col-sm-10"><p>
        I began partner dancing in January 2006, starting off with East Coast Swing, Charleston, and
        Lindy Hop before moving to Blues, Shag, Balboa, and others.  For most of my dance career my
        primary styles have been Blues, Lindy Hop, and Charleston, but in Spring 2013 I became aware
        of a movement called Fusion.  Since then, I've branched out my dance philosophies, or rather,
        re-adjusted them as my personal beliefs were already in line with the concepts core to the Fusion community.
    </p></div>
</div>
<div class="row">
    <h3>Social Media</h3>

	  <div class="col-sm-10"><p>
        I am also an active curator of high quality dance videos on YouTube.
        I frequently share the best dance content on Google+, and I co-manage a
        community there called Dancergy.  My personal interests focus on hip-hop dance styles,
        ranging from popping & locking to tutting & animation, as well as more niche styles
        such as krumping & breaking.
    </p></div>
</div>
