<div class="event-row col-xs-6 col-lg-4">
    <span class="event-name">{{name}}</span>
    <span class="event-loc">{{location}}</span>
    <span class="event-styles">{{view.styleList}}</span>
    {{#if view.dateList}}
        <span class="event-dates">{{view.dateList}}</span>
    {{/if}}
</div>
