<div class="footer">
    Jordan Hawker 2015
    <div>
        This application is built with cutting-edge versions of
        <a href="http://emberjs.com/" target="_blank"><img src="/assets/ember.png" class="brand-icon"></a> &
        <a href="http://www.ember-cli.com/" target="_blank"><img src="/assets/ember-cli.png" class="brand-icon"></a>.
    </div>
    <div>
        The project is fully open-source and can be found on
        <a href="https://github.com/elwayman02/jordan-hawker" target="_blank"><i class="fa fa-github"></i></a>
    </div>
</div>
