<h2 id="title">Welcome!</h2>

<p>
You've reached my little corner of the web, you lucky dog!
You can find all sorts of information about me throughout this site.
If you're a recruiter, check out my {{link-to 'Code' 'code'}} page.
If you're an event organizer or music promoter, you should head over to the {{link-to 'Music' 'music'}} section.
Fellow dancers can learn about my background in {{link-to 'Dance' 'dance'}}.  Enjoy!
</p>

<h3>Latest Announcement</h3>

{{view 'front-post' content=model}}
