<h2 id="title">Welcome!</h2>

<p>
You've reached my little corner of the web, you lucky dog!
You can find all sorts of information about me throughout this site.
If you're a recruiter, check out my {{link-to 'Code' 'code'}} page.
If you're an event organizer or music promoter, you should head over to the {{link-to 'Music' 'music'}} section.
Fellow dancers can learn about my background in {{link-to 'Dance' 'dance'}}.  Enjoy!
</p>

<h3>Announcements</h3>

<h4>Friday, March 13th, 2015</h4>
<p>
    Welcome to the first fully stable release of Js.Edgar!
    After months of testing on production applications,
    Js.Edgar is now ready to ship everywhere.  We now have a
    fully integrated Travis-CI build with extensive test coverage
    to ensure library stability, and the library has been release
    on NPM, Bower, and Jam, so it can be used in as many projects
    as possible.  Special thanks to
    <a href="https://github.com/darkzeroman" target="_blank">@darkzeroman (Vidhur Vohra)</a>
    for his work pushing this stable release across the finish line!
</p>
