<div class="row">
    <div class="col-md-2">
        {{#link-to 'contact'}}Contact{{/link-to}}
    </div>
    <div class="col-md-10">
        <h2 id="title">Welcome to Jordan Hawker's shitty-ass website</h2>
        {{outlet}}
    </div>
</div>

