<div class="sidebar-nav" data-spy="affix" data-offset-top="80">
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <span class="visible-xs navbar-brand">Site Navigation</span>
        </div>
        <div {{action 'click' target=view }} class="navbar-collapse collapse sidebar-navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                  {{#link-to 'index'}}
                      <span>Home</span>
                  {{/link-to}}
                </li>
                <li>
                  {{#link-to 'code'}}
                      <span>Code</span>
                  {{/link-to}}
                </li>
                <li>
                  {{#link-to 'music'}}
                      <span>Music</span>
                  {{/link-to}}
                </li>
                <li>
                  {{#link-to 'dance'}}
                      <span>Dance</span>
                  {{/link-to}}
                </li>
                <li>
                  {{#link-to 'blog'}}
                      <span>Blog</span>
                  {{/link-to}}
                </li>
                <li>
                  {{#link-to 'contact'}}
                      <span>Contact</span>
                  {{/link-to}}
                </li>
            </ul>
        </div>
    </div>
</div>
