<nav class="navbar navbar-left navbar-main">
    <ul class="list-group">
        <li class="list-group-item">
            {{#link-to 'code'}}
                <span>Code</span>
            {{/link-to}}
        </li>
        <li class="list-group-item">
            {{#link-to 'music'}}
                <span>Music</span>
            {{/link-to}}
        </li>
        <li class="list-group-item">
            {{#link-to 'dance'}}
                <span>Dance</span>
            {{/link-to}}
        </li>
        <li class="list-group-item">
            {{#link-to 'contact'}}
                <span>Contact</span>
            {{/link-to}}
        </li>
    </ul>
</nav>
