<div id="splash">
    <div class="content">
        <img class="logo" src="assets/logo-medium.jpg" alt="Splash" height="150" width="150">
        <h1 class="site-title">Jordan Hawker</h1>
        <div>
            <h6>{{version}}</h6>
            <p>The developer of ambitious web applications.</p>
            <code>
                npm install -g jordan-hawker
            </code>
            <p>More Productive Out Of The Box.</p>
            {{#link-to 'index'}}
                Enter Website
            {{/link-to}}
            <iframe src="https://ghbtns.com/github-btn.html?user=elwayman02&amp;type=follow&amp;count=true&amp;size=large" frameborder="0" scrolling="0" width="256px" height="30px"></iframe>
        </div>
    </div>
</div>