<div class="col-xs-6 col-sm-4 col-md-3">
    <a href="{{url}}" target="_blank">
        {{#if icon}}
            <i class="fa fa-{{icon}}"></i>
        {{/if}}

        {{#if image}}
            <img src="/assets/{{image}}" class="brand-icon">
        {{/if}}

        {{name}}
    </a>
</div>
