<div class="title">
    <h3>The Candidate Series</h3>
    <p>Discovering and Achieving the Perfect Career Opportunity</p>
</div>
{{view 'posts' list=model sortProperties=view.sortProperties}}
{{partial 'partials/subscribe'}}
