<div class="title">
    <h3>The Candidate Series</h3>
    <p>Discovering and Achieving the Perfect Career Opportunity</p>
</div>
{{tumblr-blog
    posts=model
    postsRoute='post'
    collapsible=true
    sortBy=sortBy}}
{{partial 'partials/subscribe'}}
