<div class="title">
    {{#link-to 'index'}}
        <div class="img-container col-sm-2">
            <img src="assets/logo.jpg" alt="Home" height="80" width="80">
        </div>
        <div class="col-sm-10">
            <h1>Jordan Hawker</h1>
        </div>
    {{/link-to}}
</div>
