<div class="twitch">
  {{#if media.isMini}}
    View me in landscape mode!
  {{/if}}

  {{twitch-embed}}

  <div class="twitch-container">
    {{twitch-info username='axlehellfire'}}

    {{twitch-info username='boardgames'}}
  </div>
</div>